{% extends 'main/base.html' %}

{% block title %}
Информация
{% endblock %}

{% block content %}
    <p>Данный сайт создан для того, чтобы показать, что я умею делать какие(никакие) сайты, и вообще
    я молодец! Он направлен на борьбу с ленью и прочими отвлекающими от работы факторами.
    Если ты лентяй-слюнтяй, то катись колбаской отсюда!
    А если ты не лентяй, то Добро пожаловать в в этот "таск-манагер" для работы.
    Я люблю трудиться, а ещё любим кошечек и собачек! И вообще всех животных,
    кроме надоедливых комаров.</p>
{% endblock %}
